---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aisten - Podcast Transcription">
  <div class="bg-indigo-50 lg:h-full">
    <div class="container mx-auto p-6 lg:p-24 lg:h-full">
      <div class="flex flex-col lg:h-full lg:flex-row">
        <div class="flex flex-1 flex-col">
          <div class="flex items-center">
            <img
              class="w-12 rounded-lg border"
              src="app-icon.webp"
              alt="app icon"
            />
            <a
              class="flex ml-auto lg:hidden"
              href="https://apps.apple.com/app/aisten-podcast-transcription/id6453694910"
            >
              <img
                src="Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                alt="download on the App Store"
              />
            </a>
          </div>

          <div class="flex-1 flex flex-col justify-center items-start lg:pb-12">
            <h1 class="text-6xl font-medium text-indigo-950 lg:text-9xl">
              Aisten
            </h1>
            <p id="subtitle" class="text-2xl text-indigo-950 lg:text-5xl">
              Podcast Transcription
            </p>
            <a
              class="hidden mt-4 lg:flex"
              href="https://apps.apple.com/app/aisten-podcast-transcription/id6453694910"
            >
              <img
                src="Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                alt="download on the App Store"
              />
            </a>
          </div>
        </div>
        <img class="max-h-full w-auto" src="preview1.webp" alt="preview2" />
        <img class="max-h-full w-auto" src="preview2.webp" alt="preview2" />
      </div>
    </div>
  </div>
</Layout>

<style>
  #subtitle.change {
    animation: changetext 1s ease-in-out;
  }

  @keyframes changetext {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>

<script>
  const texts = [
    "Podcast Transcription",
    "Multi-lang AI Speech-to-Text",
    "Listen, Read, Learn Language",
    "One Click Translation",
    "Import Local Files & Links",
  ];

  let currentIndex = 0;

  function showNextText() {
    currentIndex = (currentIndex + 1) % texts.length;

    const text = texts[currentIndex];

    const subtitleElement = document.getElementById("subtitle");

    subtitleElement.classList.add("change");

    setTimeout(() => {
      subtitleElement.textContent = text;
    }, 500);

    setTimeout(() => {
      subtitleElement.classList.remove("change");
    }, 1000);
  }

  setInterval(showNextText, 3000);
</script>
