---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aisten - Podcast Transcription">
  <div class="bg-indigo-50 lg:h-full">
    <div class="container mx-auto px-8 py-8 lg:py-24 lg:h-full">
      <div
        class="flex flex-col justify-center gap-8 lg:gap-32 lg:flex-row lg:h-full"
      >
        <div class="flex flex-col">
          <img class="w-12 rounded-lg border" src="app-icon.webp" alt="" />

          <div class="flex-1 flex flex-col justify-center">
            <h1 class="text-9xl font-medium text-indigo-950">Aisten</h1>
            <p class="text-5xl text-indigo-950">Listen, Read, Learn Language</p>
            <a
              class="flex justify-center items-center w-24 h-10 rounded-lg bg-indigo-500 text-white mt-4"
              href="https://apps.apple.com/app/aisten-podcast-transcription/id6453694910"
            >
              AppStore
            </a>
          </div>
        </div>

        <div class="flex flex-col gap-2 lg:flex-row">
          <img src="preview1.webp" alt="" />
          <img src="preview2.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</Layout>
