---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aisten - Podcast Transcription">
  <div class="bg-indigo-50 lg:h-full">
    <div class="container mx-auto p-6 lg:p-24 lg:h-full">
      <div class="flex flex-col lg:h-full lg:flex-row">
        <div class="flex flex-1 flex-col">
          <div class="flex items-center">
            <img
              class="w-12 rounded-lg border"
              src="app-icon.webp"
              alt="app icon"
            />
            <a
              class="flex ml-auto lg:hidden"
              href="https://apps.apple.com/app/aisten-podcast-transcription/id6453694910"
            >
              <img
                src="Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                alt="download on the App Store"
              />
            </a>
          </div>

          <div class="flex-1 flex flex-col justify-center items-start lg:pb-12">
            <h1 class="text-9xl font-medium text-indigo-950">Aisten</h1>
            <p class="text-5xl text-indigo-950">Listen, Read, Learn Language</p>
            <a
              class="hidden mt-4 lg:flex"
              href="https://apps.apple.com/app/aisten-podcast-transcription/id6453694910"
            >
              <img
                src="Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                alt="download on the App Store"
              />
            </a>
          </div>
        </div>
        <img class="max-h-full w-auto" src="preview1.webp" alt="preview2" />
        <img class="max-h-full w-auto" src="preview2.webp" alt="preview2" />
      </div>
    </div>
  </div>
</Layout>
